.playlist-window {
  height: 100%;
  padding-bottom: 75px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.playlist-window::-webkit-scrollbar {
  display: none;
}

.player-control {
  z-index: 1;
  position: absolute;
  background: $topnav-color;
  width: 100%;
  height: 75px;
  bottom: 0;
  opacity: 1;
  // opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden.player-control {
   opacity: 0;
}

.hidden.player-control {
   opacity: 0;
}

.current-track-details {
  color: $text-color;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.current-track-cover-art {
  margin: 0 10px;
}

.player-control-btns {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.player-control-btn {
  margin: 0 20px;
  color: $text-color;
  transition: $tran-02;

  &:hover {
    cursor: pointer;
    color: $spotify-green;
  }
}

.playlist-item-container {
  // border: 1px solid $primary-color;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}

.playlist-item {
  white-space: nowrap;
  overflow: hidden;
  height: 75px;
  // width: 75%;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid $light-text-color;
  border-radius: 5px;
  color: $text-color;
  display: flex;
  transition: $tran-02;

  &:hover {
    background: $spotify-green;
    color: $spot-yt-text !important;
    cursor: pointer;
  }
}

.playlist-item-play-btn {
  padding: 10px 0;
  
}

.playlist-item-content {
  margin-left: 20px;
}

.song-name {
  // color: $text-color;
}

.artist-name {
  color: $light-text-color;
}

.magnifying-glass {
  color: $light-text-color;
  // border: 1px solid $primary-color;  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $tran-02;

  &:hover {
    cursor: pointer;
    color: $text-color;
  }
}

.yt-button {
  display: flex;
  justify-content: center;
  align-items: center;

  img:hover {
    cursor: pointer;
  }
}
