.side-nav {
  z-index: 1;
  position: absolute;
  background: $sidenav-color;
  height: 100vh;
  padding-top: $topnav-height;
}

.toggle-container {
  position: relative;
  white-space: nowrap;
  transition: $tran-05;
}

.hidden.toggle-container {
  width: 0;
  padding: 0;
}

.shown.toggle-container {
  width: 250px;
  padding: 0 10px;
}

.toggle-button {
  position: absolute;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  right: -50px;
  background: $sidenav-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $spotify-green;
    transition: $tran-05;
  }

  &:hover {
    cursor: pointer;
  }
}

.shown.toggle-button {
  i {
    transform: rotate(180deg);
  }
}

.side-nav-title {
  font-size: 2rem;
  color: $spotify-green;
  overflow: hidden;
  border-bottom: 2px solid $spotify-green;
  margin-bottom: 15px;
}

.hidden.side-nav-title {
  width: 0;
  transition: $tran-02;
}

.shown.side-nav-title {
  width: auto;
}

.side-nav-item {
  color: $light-text-color;
  overflow: hidden;
  transition: $tran-02;

  &:hover {
    color: $text-color;
    cursor: pointer;
  }
}

.hidden.side-nav-item {
  width: 0;
}

.shown.side-nav-item {
  width: auto;
}