.home {
  background: transparent;
}

.not-home {
  background: $topnav-color;
}

.topnav {
  position: absolute;
  width: 100%;
  padding: 30px;
  color: $text-color;
  height: $topnav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}