.container {
  max-width: 1500px;
  padding: 0 30px;
  margin: auto;
}

.window {
  width: 850px;
  height: 100%;
  border: 1px solid silver;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 1800px) {
  .window {
    width: 800px;
  }
}
@media only screen and (max-width: 1700px) {
  .window {
    width: 750px;
  }
}
@media only screen and (max-width: 1600px) {
  .window {
    width: 700px;
  }
}
@media only screen and (max-width: 1500px) {
  .window {
    width: 650px;
  }
}
@media only screen and (max-width: 1400px) {
  .window {
    width: 1200px;
  }
}
@media only screen and (max-width: 1300px) {
  .window {
    width: 1100px;
  }
}
@media only screen and (max-width: 1200px) {
  .window {
    width: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  .window {
    width: 900px;
  }
}
@media only screen and (max-width: 1000px) {
  .window {
    width: 800px;
  }
}
@media only screen and (max-width: 900px) {
  .window {
    width: 750px;
  }
}
@media only screen and (max-width: 800px) {
  .window {
    width: 650px;
  }
}
@media only screen and (max-width: 700px) {
  .window {
    width: 550px;
  }
}
@media only screen and (max-width: 600px) {
  .window {
    width: 450px;
  }
}
@media only screen and (max-width: 500px) {
  .window {
    width: 400px;
  }
}
.dark .playlist-window {
  height: 100%;
  padding-bottom: 75px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dark .playlist-window::-webkit-scrollbar {
  display: none;
}
.dark .player-control {
  z-index: 1;
  position: absolute;
  background: #242526;
  width: 100%;
  height: 75px;
  bottom: 0;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark .current-track-details {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.dark .current-track-cover-art {
  margin: 0 10px;
}
.dark .player-control-btns {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dark .player-control-btn {
  margin: 0 20px;
  color: #fff;
  transition: all 0.2s ease;
}
.dark .player-control-btn:hover {
  cursor: pointer;
  color: #1DB954;
}
.dark .playlist-item-container {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}
.dark .playlist-item {
  white-space: nowrap;
  overflow: hidden;
  height: 75px;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid #73777b;
  border-radius: 5px;
  color: #fff;
  display: flex;
  transition: all 0.2s ease;
}
.dark .playlist-item:hover {
  background: #1DB954;
  color: #333 !important;
  cursor: pointer;
}
.dark .playlist-item-play-btn {
  padding: 10px 0;
}
.dark .playlist-item-content {
  margin-left: 20px;
}
.dark .artist-name {
  color: #73777b;
}
.dark .magnifying-glass {
  color: #73777b;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.dark .magnifying-glass:hover {
  cursor: pointer;
  color: #fff;
}
.dark .yt-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light .playlist-window {
  height: 100%;
  padding-bottom: 75px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.light .playlist-window::-webkit-scrollbar {
  display: none;
}
.light .player-control {
  z-index: 1;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 75px;
  bottom: 0;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.light .current-track-details {
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.light .current-track-cover-art {
  margin: 0 10px;
}
.light .player-control-btns {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.light .player-control-btn {
  margin: 0 20px;
  color: #333;
  transition: all 0.2s ease;
}
.light .player-control-btn:hover {
  cursor: pointer;
  color: #1DB954;
}
.light .playlist-item-container {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}
.light .playlist-item {
  white-space: nowrap;
  overflow: hidden;
  height: 75px;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid #7F8487;
  border-radius: 5px;
  color: #333;
  display: flex;
  transition: all 0.2s ease;
}
.light .playlist-item:hover {
  background: #1DB954;
  color: #333 !important;
  cursor: pointer;
}
.light .playlist-item-play-btn {
  padding: 10px 0;
}
.light .playlist-item-content {
  margin-left: 20px;
}
.light .artist-name {
  color: #7F8487;
}
.light .magnifying-glass {
  color: #7F8487;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.light .magnifying-glass:hover {
  cursor: pointer;
  color: #333;
}
.light .yt-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 1400px) {
  .full.window {
    height: 94%;
  }
  .half.window {
    height: 47%;
  }
}

/*# sourceMappingURL=PlaylistWindow.module.css.map */
