.playlists {
  height: 100vh;
  padding-top: $topnav-height;
  background: $body-color;
  color: $text-color;
  transition: $tran-05;
}

.content {
  border: 1px solid $primary-color;
  max-height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.page-buttons {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.page-button {
  margin: 0 10px;
  height: 30px;
  width: 30px;
  background: $body-color;
  color: $light-text-color;
  font-size: 1.5rem;
  border: none;
  transition: $tran-05;

  &:hover {
    cursor: pointer;
    color: $text-color;
  }
}

.playlist-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  justify-content: space-around;
}

.playlist-card {
  white-space: nowrap;
  overflow: hidden;
  height: 75px;
  margin: 20px;
  padding: 5px;
  border-top: 1px solid $light-text-color;
  border-radius: 5px;
  transition: $tran-02;

  &:hover {
    background: $spotify-green;
    color: $spot-yt-text;
    cursor: pointer;
  }
}

@media only screen and (max-width: $sm-screen-size) {
  .content {
    justify-content: center;
  }
}