@import '../globals';
@import '../utilities';

.dark {
  @import '../dark-theme';
  @import './core';
}

.light {
  @import '../light-theme';
  @import './core';
}

@media only screen and (max-width: 1400px) {
  .hidden.window {
    height: 0;
    overflow: hidden;
  }

  .shown.window {
    height: 47%;
  }
}