// dark theme colors
$body-color: #18191a;
$sidenav-color: #242526;
$topnav-color: #242526;
$text-color: #fff;
$light-text-color: #73777b;
$inverted-text-color: #333;
$primary-color: #ccc;
$secondary-color: #272727;
$button-color: #272727;