$topnav-height: 70px;
// $sidenav-width: 88px;
$sidenav-width: 0;

$spotify-green: #1DB954;
$youtube-red: #c4302b;
$spot-yt-text: #333;

$primary-button-color: #3F4E4F;
$primary-button-text: #ccc;

$sm-screen-size: 900px;
$xs-screen-size: 700px;