// light theme colors
$body-color: #ddd;
$sidenav-color: #fff;
$topnav-color: #fff;
$text-color: #333;
$light-text-color: #7F8487;
$inverted-text-color: #ccc;
$primary-color: #333;
$secondary-color: #3F4E4F;
$button-color: silver;