$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;
$tran-06: all 0.6s ease;
$tran-07: all 0.7s ease;

.container {
  max-width: 1500px;
  padding: 0 30px;
  margin: auto;
}

.window {
  width: 850px;
  height: 100%;
  border: 1px solid silver;
  transition: $tran-05;
}


@media only screen and (max-width: 1800px) {
  .window {
    width: 800px;
  }
}

@media only screen and (max-width: 1700px) {
  .window {
    width: 750px;
  }
}

@media only screen and (max-width: 1600px) {
  .window {
    width: 700px;
  }
}

@media only screen and (max-width: 1500px) {
  .window {
    width: 650px;
  }
}

@media only screen and (max-width: 1400px) {
  .window {
    width: 1200px;
  }
}

@media only screen and (max-width: 1300px) {
  .window {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .window {
    width: 1000px;
  }
}

@media only screen and (max-width: 1100px) {
  .window {
    width: 900px;
  }
}

@media only screen and (max-width: 1000px) {
  .window {
    width: 800px;
  }
}

@media only screen and (max-width: 900px) {
  .window {
    width: 750px;
  }
}

@media only screen and (max-width: 800px) {
  .window {
    width: 650px;
  }
}

@media only screen and (max-width: 700px) {
  .window {
    width: 550px;
  }
}

@media only screen and (max-width: 600px) {
  .window {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .window {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .window {
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  .window {
    width: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .window {
    width: 250px;
  }
}

@media only screen and (max-width: 300px) {
  .window {
    width: 200px;
  }
}